*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.intro {
  background: #23424A;
  color: #FFF;
  padding: 100px 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.intro__text {
  width: 60%;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

p {
  font-size: 21px;
  margin: 16px 0 32px;
}

button {
  font-weight: 700;
  font-size: 21px;
  background: #38CFD9;
  padding: 12px 32px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

